#App
fastapi[standard]
python-dotenv==1.0.1
uvicorn[standard]
sqlalchemy
asyncpg
alembic
slowapi
httpx
python-jose[cryptography] 
passlib[bcrypt]
apscheduler

#Testing
pytest
pytest-asyncio
aiosqlite
python-logging-loki
