@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #000000;
  --white: #ffffff;
  --white2: #ebe9e1;
  /*60%*/
  --orange: #e43d12;
  /*30%*/
  --pink1: #d6536d;
  --pink2: #ffa2b6;
  --yellow: #efb11d;
  /*10%*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
