@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black:#000000;  
  --white: #FFFFFF; 
  --white2:#EBE9E1;
  /*60%*/
  --orange: #E43D12;
  /*30%*/
  --pink1:#D6536D;
  --pink2:#FFA2B6;
  --yellow:#EFB11D;
  /*10%*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
